[submodule "code/vendor/pugixml"]
	path = code/vendor/pugixml
	url = https://github.com/zeux/pugixml
[submodule "code/vendor/zlib"]
	path = code/vendor/zlib
	url = https://github.com/madler/zlib
[submodule "code/vendor/fmtlib"]
	path = code/vendor/fmtlib
	url = https://github.com/fmtlib/fmt
[submodule "code/vendor/imgui"]
	path = code/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "code/vendor/glfw"]
	path = code/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "code/vendor/glm"]
	path = code/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "code/vendor/assimp"]
	path = code/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "code/vendor/yaml-cpp"]
	path = code/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
